@import "../../styles/colors";

.day{
  margin: 0;
  border-radius: 4px;

  font-family: TT-Commons, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;

  color: $gray;

  &.currentMonth{
    color: $black;
  }

  &.endpoint{
    color: $white;
    background-color: $red;
  }

  &.interval{
    background-color: $light_gray;
  }
}