@import "../../styles/colors";

.container{
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin-top: 2.5rem;
}

.hint{
  align-self: center;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.about {
  display: flex;
  gap: 2rem;
}

.details{
  border-radius: 24px;
  background-color: $lightest_gray;
  padding: 15px 12px 15px 16px;
  width: 11.5rem;

  &.past{
    color: $gray;
  }

  > .date{
    font-family: Redcollar, fantasy;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -0.02em;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    > h4{
      margin: 0;
    }
  }

  > .divider {
    border: 1px solid $light_gray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  > .location{
    font-family: TT-Commons, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -0.02em;
  }
}

.description{
  margin: 0;

  font-family: TT-Commons, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.participants{
  margin-top: 2.5rem;

  font-family: Redcollar,sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: -0.02em;

  > h4{
    margin: 0 0 1.5rem;
  }

  > .list{
    display: flex;
    justify-content: space-between;
  }
}

.gallery{
  margin-top: 3.5rem;
  .image{
    object-fit: cover;
    width: 16.666666rem;
    height: 10rem;
    border-radius: 24px;
  }
}

.footer{
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  > .suggestion{
    font-family: Redcollar, fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -0.02em;

    color: $black;

    > .accent{
      color: $red;
      cursor: pointer;
    }

    margin: 0;
  }
}