@import "../../styles/colors";

.branding {
  display: flex;
  align-items: center;

  .company {
    margin: 0 19px 0 35px;

    font-family: Redcollar, fantasy;
    font-size: 1.625rem;
    line-height: 120%;
    letter-spacing: -0.02em;

    color: #000000;
  }

  .name {
    margin: 0;

    font-family: Redcollar, fantasy;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: -0.04em;

    color: $black;

    .red {
      color: $red;
    }
  }
}