@import "../../styles/colors";

.container{
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: $lightest_gray;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;

  font-family: TT-Commons, fantasy;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: -0.02em;

  color: $black;
}

.iconWrapper{
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}