@import "../../styles/colors";

.container{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40rem;

  gap: 6.375rem;
}

.title{
  margin: 0 0 1.5rem;

  font-family: Redcollar, fantasy;
  font-size: 4rem;
  line-height: 120%;
  letter-spacing: -0.04em;
  max-width: 32.25rem;

  color: $black;
}

.subtitle{
  margin: 0;

  font-family: Redcollar, fantasy;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.02em;

  color: $red;
}

.pigeonBackground{
  background-image: url("../../assets/img/pigeon.png");
  background-size: 36.5rem;
  background-repeat: no-repeat;
  background-position: 25rem 8.5rem;
}


