@import "../../styles/colors";

.selector {
  width: 21.5rem;
  height: 27.0625rem;
  border-radius: 12px;
  border: 1px $gray solid;

  padding: 32px 16px 40px;

  display: flex;
  flex-direction: column;
}