@import "../../styles/colors";

.calendar{
  display: grid;

  grid-template-columns: repeat(7, minmax(0,1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));

  row-gap: 1rem;

  text-align: center;
}

.weekday {
  font-family: TT-Commons, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;

  color: $gray;
}